
.header {
    position: fixed; /* Keeps the header fixed */
    top: 0; /* Aligns it to the top,left,right */
    left: 0; 
    right: 0;
    width: 100%; /* Makes it full width */
    text-align: center;
    padding: 20px 0; /*Makes a distance to the other text */
    z-index: 1000; /*Makes sure that its on the top layer of the page*/
}

.Informasion {
    margin-top: 200px;
}

.fixed-bottom-left {
    position: fixed; /* Position it relative to the viewport */
    bottom: 20px; 
    left: 20px; 
    padding: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /*Some shadow*/
}

.fixed-bottom-right {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
