
.header {
    position: fixed; /* Keeps the header fixed */
    top: 0; /* Aligns it to the top,left,right */
    left: 0; 
    right: 0;
    width: 100%; /* Makes it full width */
    background-color: white; /* Adjust as needed */
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

.Informasion {
    margin-top: 200px;
}

.fixed-bottom-left {
    position: fixed; /* Position it relative to the viewport */
    bottom: 20px; /* Distance from the bottom */
    left: 20px; /* Distance from the left */
    background-color: white; /* Optional background */
    padding: 5px; /* Optional padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
}

.fixed-bottom-right {
    position: fixed; /* Position it relative to the viewport */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    background-color: white; /* Optional background */
    padding: 5px; /* Optional padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
}
